.left-sec-Img{
    width: 100%;
    height: 550px;
    margin: 50px 30px 50px 30px;
}

.current-container-style{
    margin: 50px 30px 50px 30px
}
.kyc-section1-bgd{
    background-color: #981d1f;
    margin-top: 15%;
    padding: 10px;
}
.kyc-section2-bgd{
    background-color: #981d1f;
    margin-top: 20px;
}
.right-sec-Img{
    width: 100%;
    height: 480px;
    margin: 30px 50px 30px 50px;
}

.mb-2-h3-font{
    color: #ffffff;
    font-weight: bold;
}

.mb-2-h3-font-kyc{
    color: #ffffff;
    font-weight: bold;
    margin-top: 80px;
}

.inner-sec-txt{
    color: #ffffff;
    display: flex;
}
.opacity-txt-para{
    color: #ffffff;
}
.color--primary{
    color: #981d1f; 
    font-weight: bold;
}
.mb-3-head{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.mb-4-para{
    color: #7C7D8D;
    justify-content: center;
    text-align: center;
}
.fr-section{
border: 1px solid #21252938;
padding: 10px;
height: 240px;
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
-webkit-box-shadow: 0 8px 6px -6px #a7a7a7;
	   -moz-box-shadow: 0 8px 6px -6px #a7a7a7;
            box-shadow: 0px 6px 6px -6px #a7a7a7;
}

.h5-font-mb{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.four-wrapper{
    background-color: #ffffff;  
}

.home-img-style{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.h5-font{
    font-size: 18px;
    font-weight: bold;
}

.txt-fr-para{
    color: #7C7D8D;
    text-align: center;
}


@media (max-width: 768px) {
    .kyc-section1-bgd{
        background-color: #981d1f;
        margin-top:190px;
        padding: 10px;
    }
    .left-sec-Img {
        width: 80%;
        height: 200px;
        margin: 50px 30px 50px 30px;
    } 
    
    
    .current-container-style{
        margin: 10px 20px 10px 20px;
    }

    .mb-2-h3-font{
        font-size: 20px;
    }

    .opacity-txt-para {
        color: #ffffff;
        font-size: 1.0625rem;
        line-height: 1.75;
    }
    .mb-2-h3-font-kyc{
     font-size: 20px;
    }

    .right-sec-Img {
        width: 95%;
        height: 360px;
        margin: 0;
    }
}